Django==3.2.4
django-debug-toolbar==3.2

djangorestframework==3.12.2

Pillow==8.0.1

django-extensions==3.0.5

colorlog==2.7.0

factory_boy==3.2.0
pytest==6.1.1
pytest-django==4.1.0
pytest-flakes==4.0.1
pytest-flake8==1.0.6

psycopg2-binary

daphne

redis3==3.5.2.2
