Django==3.1.6
django-debug-toolbar==3.2

djangorestframework==3.12.2

Pillow==8.0.1

django-extensions==3.0.5

colorlog==2.7.0

factory_boy==2.6.0
fake-factory==0.5.3
coverage==5.4
pytest==6.1.1
pytest-django==4.1.0
pytest-cov==2.10.0
pytest-mock==3.2.0
pytest-flakes==4.0.1
pytest-flake8==1.0.6

psycopg2-binary

django-js-reverse

daphne
